$backgroundColor: #f5f5f5;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
    background: $backgroundColor;
    height: 100%;
  
    #root {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  

    header {
      background: darken($backgroundColor, 75);
      border-bottom: 1px solid #eee;
      color: #eee;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    header .bp4-minimal{
        direction: ltr;
        
    }
    header .H1{
        position: absolute;
        top: 8px;
        left: 16px;
        font-size: 18px;
    }
    form {
        width: 90%;
        margin: 0 auto;
        
    
      }

      .cont {
        width: 600px;
        height: 250px;
        border: 2px solid #c3c3c3;
        display: flex;
        size: 80px;
        background-color: aquamarine;

        
      }
      
      #col-rev {
        flex-direction: column;
        
      }
     .result{
        align-items:center;
     }
     
      

      
     
  }